// Style Pink is the new black - wäää pfui für meitli

$wrapperBackgroundColor:     #444444;
$primaryColor:               #ff1bb1;
$primaryColorBG:             #F2F2F2;
$secondaryColor:             #c575ea;
$tertiaryColor:              #8C8C8C;

$primaryColorFocus:          #d535dd;
$dark:                       #111;
$bright:                     #F2F2F2;
$lightgray:                  #D2D2D2;
$graymiddle:                 #656565;
$darkgray:                   #444;

$linkBackground:             #3D3D3D;
$linkColor:                  $primaryColor;
$linkHoverColor:             $primaryColorFocus;
$linkHoverBackground:        #FFF;
$linkBorderColor:            #d535dd;
$linkBorderColorActive:      $dark;


body {
  background: $dark;
}


#wrapper{
  background: $wrapperBackgroundColor;
  border: 1px solid $graymiddle;
}

.head h1{
  color: $secondaryColor;
  border-top: 1px solid $primaryColor;
}

.head h2{
  color: $primaryColor;
}

.h3{
  color: $primaryColor;
}


.btn a:link{
  padding: 0.4rem;
  border-radius: 3px;
  text-decoration: none;
  color: $primaryColor;
  background: $linkBackground;
  border: 1px solid $tertiaryColor;
  transition: all 350ms ease;
}

.btn a:hover{
  color: $linkHoverColor;
  background: $linkHoverBackground;
  border: 1px solid $linkHoverColor;
  //transition: all 350ms ease;
}

.prominent a:link{
  border: 2px solid $primaryColorFocus !important;
  background: $darkgray !important;
}

.prominent a:hover{
  color: $primaryColor !important;
  background: $dark !important;
  border: 2px solid $secondaryColor !important;
}



.menu-styles{
  color: $secondaryColor;
  background:$dark;
}


//-------------------------------sort by
.sort-styles{
  background: $graymiddle;
}

.sort-styles h3{
  color: $dark;
}

.sort-styles ul li a:link{
  border: 1px solid $primaryColor;
  color: $primaryColor;
  background: #00ffff;
}

.sort-styles ul li a:hover{
  border: 1px solid $linkHoverColor;
  color: $linkHoverColor;
  background: $dark;
}

.editheader{
  background: $secondaryColor;
  h3{
    color: $dark;
  }
}

.edittaskrow{
  color: $secondaryColor;
}

.sort-styles ul li a:link{
  border: 1px solid $linkBorderColor;
  padding: 7px;
  border-radius: 3px;
  text-decoration: none;
  color: $primaryColor;
  background: $darkgray;
  transition: background 350ms ease;
}

.sort-styles .active {
  border:  2px solid $linkBorderColorActive !important;
  background: $primaryColorFocus !important;
  color: $dark !important;
  font-weight: 600;
}
//---------------------------- Tasklist styles


.list-head-elem{
  color: $primaryColor;
  background: $dark;
}


.listheader{
  border-bottom: 1px solid $dark;
}

.tasklistrow{
  border-bottom: 1px solid $secondaryColor;
  background: #444444;
}

.list-elem{
  color: $secondaryColor;
  background: $darkgray;
}

.task-desc h4{
  color: $primaryColor;
}

.task-edit-btn a:link, a:visited{
  color: $primaryColor;
  background: $graymiddle;
}

.task-edit-btn a:hover{
  border: 1px solid $primaryColor;
  background: $dark;
}

#printvalue {
  color: $primaryColor;
}



// ----------------------------- Edit Styles

input[type="text"],[type="datetime-local"] {
  border: 1px solid $linkBorderColor;
  background: $graymiddle;
}

input:focus[type="text"],[type="datetime-local"]:focus {
  border: 1px solid $primaryColor;
  background: $linkBackground;
}

textarea{
  border: 1px solid $linkBorderColor;
  background: $graymiddle;
}

textarea:focus{
  border: 1px solid $primaryColor;
  background: $linkBackground;
}


//-------------------------- footer styles
.footer{
  border-top: 1px solid $primaryColor;
  color: $primaryColorBG;
  background: $dark;
}

.footer-desc{
  color: $linkBorderColor;
}

.footer-copy{
  color: $bright;
}