// Style Red n White - theis is the default Theme


$wrapperBackgroundColor:     #F5F5F5;
$primaryColor:               #400101;
$primaryColorBG:             #F2F2F2;
$secondaryColor:             #8C0303;
$tertiaryColor:              #8C8C8C;

$warningRedColor:            #b2453a;
$warningYellowColor:         #f0e26f;
$warningMissedColor:         #ac6269;
$taskdoneColor:              #75bab7;

$primaryColorFocus:          #9A0F16;
$dark:                       #111;
$bright:                     #F2F2F2;
$lightgray:                  #D2D2D2;
$graymiddle:                 #777777;
$darkgray:                   #444444;

$linkBackground:             #C3C3C3;
$linkColor:                  $primaryColor;
$linkHoverColor:             $primaryColorFocus;
$linkHoverBackground:        #FFF;
$linkBorderColor:            $darkgray;
$linkBorderColorActive:      $dark;


body {
  background: $darkgray;
}

#wrapper{
  background: $wrapperBackgroundColor;
}

.head h1{
  color: $secondaryColor;
  border-top: 1px solid $primaryColor;
}

.head h2{
  color: $primaryColor;
}

.h3{
  color: $primaryColor;
}

.btn a:link, a:visited{
  padding: 0.4rem;
  border-radius: 3px;
  text-decoration: none;
  color: $primaryColor;
  //background: $linkBackground;
  border: 1px solid $tertiaryColor;
  transition: all 350ms ease;
}

.btn a:hover{
  color: $linkHoverColor;
  background: $linkHoverBackground;
  border: 1px solid $linkHoverColor;
  //transition: all 350ms ease;
}

.btn &.prominent a:link{
  border: 2px solid $primaryColorFocus !important;
  color: $primaryColor;
  background: $primaryColorBG !important;
}

.btn &.prominent a:hover{
  color: $bright !important;
  background: $secondaryColor !important;
  border: 2px solid $dark !important;
}



.menu-styles{
  color: $secondaryColor;
  background:$lightgray;
}



//-------------------------------sort by
.sort-styles{
  background: $bright;
}

.sort-styles h3{
  color: $dark;
}

.sort-styles ul li a:link{
  border: 1px solid $primaryColor;
  color: $bright;
  background: $tertiaryColor;
}

.sort-styles ul li a:hover{
  border: 1px solid $linkHoverColor;
  color: $linkHoverColor;
  background: $bright;
}

.editheader{
  background: $secondaryColor;
  h3{
    color: $bright;
  }
}

.sort-styles ul li a:link{
  border: 1px solid $linkBorderColor;
  padding: 7px;
  border-radius: 3px;
  text-decoration: none;
  color: $primaryColor;
  background: $lightgray;
  transition: background 350ms ease;
}

.sort-styles .active{
  border:  2px solid $linkBorderColorActive !important;
  background: $primaryColorFocus !important;
  color: $bright !important;
}
//---------------------------- Tasklist styles


.list-head-elem{
  color: $primaryColor;
  background: $primaryColorBG;
}


.listheader{
  border-bottom: 1px solid $dark;
}

.tasklistrow{
  border-bottom: 1px solid $secondaryColor;
}

.list-elem{
  color: $secondaryColor;
}

.task-desc h4{
  color: $primaryColor;
}

.task-edit-btn a:link, a:visited{
  color: $dark;
  background: $lightgray;
}

.task-edit-btn a:hover{
  color: $primaryColor;
  background: $bright;
  border: 1px solid $primaryColor;
}

#printvalue {
  color: $primaryColor;
}

//----------------------- Task status Styles

.red{
  background:  $warningRedColor;
}

.yellow{
  background:  $warningYellowColor;
}
// done and missed same
.missed{
  background:$warningMissedColor;
}

.finishedtask{
  background: $taskdoneColor;
}

// ----------------------------- Edit Styles

input[type="text"],[type="datetime-local"] {
  border: 1px solid $linkBorderColor;
  background: $lightgray;
}

input:focus[type="text"],[type="datetime-local"]:focus {
  border: 1px solid $primaryColor;
  background: $bright;
}

textarea{
  border: 1px solid $linkBorderColor;
  background: $lightgray;
}

textarea:focus{
  border: 1px solid $primaryColor;
  background: $bright;
}


//-------------------------- footer styles
.footer{
  border-top: 1px solid $primaryColor;
  color: $primaryColorBG;
  background: $dark;
}

.footer-desc{
  color: $linkBorderColor;
}

.footer-copy{
  color: $bright;
}

// ----------------------------- Pop Up Screens

#TaskDone{
  display: none;
}

#TaskFailed{
  display: none;
}

.popup{
  position: absolute;
  top:20%;
  left:5%;
  width: 90%;
  z-index: 50;
}

.overlay{
  min-width: 80%;
  border: 1px solid $primaryColor;
  background: $wrapperBackgroundColor;
  padding: 2rem;
  .message{
    border: 2px dashed $primaryColor;
    padding: 3rem;
    h2{
      color: $secondaryColor;
    }
    a:link, a:visited{
      border: 1px solid $linkBorderColor;
      padding: 7px;
      border-radius: 3px;
      text-decoration: none;
      color: $primaryColor;
      background: $linkBackground;
      transition: background 350ms ease;
    }

    a:hover{
      border: 1px solid $primaryColor;
      padding: 7px;
      border-radius: 3px;
      text-decoration: none;
      color: $linkHoverColor;
      background: $linkHoverBackground;
      transition: background 350ms ease;
    }
  }
}


