// ---------------SCSS FLX file/
@import "../css/normalize.css";


// ---------------general declarations
body{
  box-sizing: border-box;
  background: #444444;
  //font-family: 'Julius Sans One', sans-serif;
  font-family: 'Glegoo', serif;
  font-size: 1rem;
}

.clearfix:after{
  clear: both;
  content: "";
  display: inline;
}

.clearfix2{
  overflow: auto;
  zoom: 1;
}




// --------------style definition & variables
// red & white theme
//$wrapperBackgroundColor:     #F5F5F5;
//$primaryColor:               #400101;
//$primaryColorBG:             #F2F2F2;
//$secondaryColor:             #8C0303;
//$tertiaryColor:              #8C8C8C;
//
//$primaryColorFocus:          #9A0F16;
//$dark:                       #111;
//$bright:                     #F2F2F2;
//$darkgray:                   #444444;
//
//$linkBackground:             #C3C3C3;
//$linkColor:                  $primaryColor;
//$linkHoverColor:             $primaryColorFocus;
//$linkHoverBackground:        #FFF;
//$linkBorderColor:            $darkgray;
//$linkBorderColorActive:      $dark;


// Task status tests provisorisch
#statusindicator{
  padding: 10px;
  border-top: 1px solid black;
}

.green{
  background: green;
}
.yellow{
  background: yellow;
}
.red{
  background: red;
}

.missed{
  background: #007069;
}

#wrapper{
  margin: 0 auto;
  min-width: 750px;
  max-width: 90%;

  //background: $wrapperBackgroundColor;
  //border: 1px solid #111;
  //padding: 1rem 1rem 0 1rem;
}

// ----------------------------- head styles

.head{
  display: block;
  position: relative;
}

.head h1{
  //color: $primaryColor;
  font-size: 3.6rem;
  font-family: 'Julius Sans One', sans-serif;
  padding-top: 0.5rem;
  //border-top: 1px solid $primaryColor;
}

.head h2{
  //color: $primaryColor;
  font-family: 'Glegoo', serif;
  text-align: left;
  padding-left: 1rem;
  font-size: 1rem;
  font-weight: 200;
}

.head img{
  padding-left: 1rem;
  max-width: 60px;
  height: auto;
  float: left;
}

.teasr{
  position: absolute;
  top: -30px;
  right: 20px;
  text-align: right;
  font-size: 0.9rem;
  font-weight: 600;
}


// ------------------------ main container
.mainwrapper{
  display: block;
}

//-------------------------- menu styles
.menu-styles{
  font-family: 'Glegoo', serif;
  font-weight: 400;
  font-size: 0.9rem;
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  //background:#DEDEDE;
}

.btn{
  margin-left: 1rem;
  //border: 1px solid $borderColor;
}

.prominent a:link, a:visited{
  //border: 2px solid $primaryColorFocus !important;
  //background: $bright !important;
}

.prominent a:hover{
  //color: $bright !important;
  //background: $secondaryColor !important;
  //border: 2px solid $dark !important;
}

.btn a:link, a:visited{
  padding: 0.4rem;
  border-radius: 3px;
  text-decoration: none;
  //color: $primaryColor;
  //background: $linkBackground;
  //border: 1px solid $tertiaryColor;
  transition: all 350ms ease;
}

.btn a:hover{
  //color: $linkHoverColor;
  //background: $linkHoverBackground;
  //border: 1px solid $linkHoverColor;
  transition: all 350ms ease;
}

.style-chooser{
  padding-right: 1rem;
  width: 40%;
  float: right;
  text-align: right;
}

.h3{
  //color: $primaryColor;
}

//-------------------------------sort by

.sort-styles{
  //background: $secondaryColor;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin: 0;
  font-weight: 400;
  font-size: 0.9rem;
}
.sort-styles h3{
  //color: $bright;
  padding-left: 1rem;
  font-size: 1.2rem;
  padding-top: 1rem;
}

.sort-styles ul{
  margin-left: 0;
  padding-left: 1rem;
}

.sort-styles ul li{
  display: inline;
  padding-right: 10px;
}

.showrightside{
  float: right;
}

.sort-styles ul li a:link{
  //border: 1px solid $linkBorderColor;
  padding: 7px;
  border-radius: 3px;
  text-decoration: none;
  //color: $primaryColor;
  //background: $linkBackground;
  transition: background 350ms ease;
}

.sort-styles ul li a:hover{
  //border: 1px solid $linkBorderColor;
  padding: 7px;
  text-decoration: none;
  //color: $linkHoverColor;
  //background: $linkHoverBackground;
  transition: background 350ms ease;
}


.arrowdown:after{
  content: ' down';
}

.sort-styles .active{
  //border:  2px solid $linkBorderColorActive !important;
  //background: $primaryColorFocus !important;
  //color: $bright !important;
}

.ontheRight {
  margin-left: 100px;
}


//---------------------------- Tasklist styles

.listnotes{
  display: table;
  border-collapse:collapse;
  width: 100%;
}


.listheader{
  font-family: 'Julius Sans One', sans-serif;
  display: table-header-group;
  border-bottom: 1px solid #444444;
}

.list-head-elem{
  display: table-cell;
  font-family: 'Julius Sans One', sans-serif;
  font-weight: bold;
  //color: $dark;
  font-size: 1.2rem;
  //background: #dedede;
  padding: 0.5rem;

  &:nth-child(1){
    width: 15%;
  }

  &:nth-child(2){
    width: 50%;
  }

  &:nth-child(3){
    width: 20%;
  }

  &:nth-child(4){
    width: 15%;
  }

}



.tasklistrow{
  display: table-row;
  width: 100%;
  //border-bottom: 1px solid $dark;
  font-size: 0.9rem;
}

.list-elem{
  display: table-cell;
  padding: 0.7rem;
  &:nth-child(1){
    width: 15%;
  }
  &:nth-child(2){
    width: 50%;
  }
  &:nth-child(3){
    width: 20%;
  }
  &:nth-child(4){
    width: 15%;
  }
}

.task-date{
  width: 20%;
}

.task-desc{
  max-width: 35%;
  }

.task-desc h4{
  padding: 0;
  margin: 0;
  font-size: 1rem;
  font-weight: 600;
  //color: $dark;
}
.task-desc p{
  overflow: hidden;
  text-overflow: ellipsis;
}


.task-importance{
  width: 25%;
}

.task-importance img{
  max-width: 25px;
  height: auto;
}



.task-edit-btn{
  width: 20%;
}

.task-edit-btn a:link, a:visited{
  //border: 1px solid $linkBorderColor;
  padding: 7px;
  border-radius: 3px;
  text-decoration: none;
  //color: $primaryColor;
  //background: $linkBackground;
  transition: background 350ms ease;
}

.task-edit-btn a:hover{
  //border: 1px solid $primaryColor;
  padding: 7px;
  border-radius: 3px;
  text-decoration: none;
  //color: $linkHoverColor;
  //background: $linkHoverBackground;
  transition: background 350ms ease;
}



//----------------------------------- Edit Task


// form
.editwrapper{
  //background: #009998;
  display: none;
  //transform: translated3d(100px, 100px, 0);
  //transition: all 1450ms ease-in;
}

.editcontent{
  position: relative;
  width: 100%;
  transition: all 0.5s ease-in;

}


.edittask{
  display: table;
  width: 100%;
  //transform: translate3d(300px,0, 0);
  //transition: all 1350ms ease;
}


.editheader{
  //background: $secondaryColor;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin: 0;
  font-weight: 400;
  font-size: 0.9rem;
  h3{
    //color: $bright;
    font-family:'Glegoo', serif;
    padding-left: 1rem;
    font-size: 1.2rem;
    padding-top: 1rem;
  }
}

.edittaskrow{
  padding: 1rem;
  display: table-row;
}

.edit-important img{
  max-width: 25px;
  height: auto;
}

.taskedit-elem {
  display: table-cell;
  //border-bottom: solid 1px #DDD;
  padding: 1rem;
}


.first-cell{
  width: 15%;
  text-align: right;
}

.second-cell{
  width: 50%;
  text-align: left;
}


.third-cell{
  width: 35%;
  text-align: right;
}


input[type="text"],[type="datetime-local"] {
  width: 90%;
  //border: 1px solid $linkBorderColor;
}

input[type="range"]{
  width: 75%;
  border: 0;
}

#printvalue {
  width: 5% !important;
  //color: $primaryColor;
  text-align: right;
}
textarea {
  width: 90%;
  height: auto;
  //border: 1px solid $linkBorderColor;
}


//---------------------------------- footer styles
footer{

}

.footer{
  font-family: 'Julius Sans One', sans-serif;
  height: 3rem;
  bottom: 0;
  width: 100%;
  border-top: 1px solid #333333;
  padding-top: 1rem;
  //background: $dark;
  //color: $primaryColorBG;
}

.footer-desc{
  text-align: right;
  float: left;
  padding-left: 1rem;
  //color: $linkBorderColor;
}

.footer-copy{
  float: right;
  //color: $bright;
  font-size: 0.8rem;
  padding-right: 1rem;
}


// ----------------------------- Pop Up Screens

#TaskDone{
  display: none;
}

#TaskFailed{
  display: none;
}

.popup{
  position: absolute;
  top:20%;
  left:5%;
  width: 90%;
  z-index: 50;
}

.overlay{
  min-width: 80%;
  //border: 1px solid $primaryColor;
  //background: $wrapperBackgroundColor;
  padding: 2rem;
  .message{
    //border: 2px dashed $primaryColor;
    padding: 3rem;
    h2{
      //color: $secondaryColor;
    }
    a:link, a:visited{
      //border: 1px solid $linkBorderColor;
      padding: 7px;
      border-radius: 3px;
      text-decoration: none;
      //color: $primaryColor;
      //background: $linkBackground;
      transition: background 350ms ease;
    }

    a:hover{
      //border: 1px solid $primaryColor;
      padding: 7px;
      border-radius: 3px;
      text-decoration: none;
      //color: $linkHoverColor;
      //background: $linkHoverBackground;
      transition: background 350ms ease;
    }
  }
}


