@import url(../css/normalize.css);
body {
  box-sizing: border-box;
  background: #444444;
  font-family: 'Glegoo', serif;
  font-size: 1rem; }

.clearfix:after {
  clear: both;
  content: "";
  display: inline; }

.clearfix2 {
  overflow: auto;
  zoom: 1; }

#wrapper {
  margin: 0 auto;
  max-width: 90%;
  background: #F5F5F5;
  border: 1px solid #111; }

.head {
  display: block;
  position: relative; }

.head h1 {
  color: #400101;
  font-size: 3.6rem;
  font-family: 'Julius Sans One', sans-serif;
  padding-top: 0.5rem;
  border-top: 1px solid #400101; }

.head h2 {
  color: #400101;
  font-family: 'Glegoo', serif;
  text-align: left;
  padding-left: 1rem;
  font-size: 1rem;
  font-weight: 200; }

.head img {
  padding-left: 1rem;
  max-width: 60px;
  height: auto;
  float: left; }

.teasr {
  position: absolute;
  top: -30px;
  right: 20px;
  text-align: right;
  font-size: 0.9rem;
  font-weight: 600; }

.mainwrapper {
  display: block; }

.menu-styles {
  font-family: 'Glegoo', serif;
  font-weight: 400;
  font-size: 0.9rem;
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background: #DEDEDE; }

.btn {
  margin-left: 1rem; }

.prominent a:link, a:visited {
  border: 2px solid #9A0F16 !important;
  background: #F2F2F2 !important; }

.prominent a:hover {
  color: #F2F2F2 !important;
  background: #8C0303 !important;
  border: 2px solid #111 !important; }

.btn a:link, a:visited {
  padding: 0.4rem;
  border-radius: 3px;
  text-decoration: none;
  color: #400101;
  background: #C3C3C3;
  border: 1px solid #8C8C8C;
  -webkit-transition: all 350ms ease;
          transition: all 350ms ease; }

.btn a:hover {
  color: #9A0F16;
  background: #FFF;
  border: 1px solid #9A0F16;
  -webkit-transition: all 350ms ease;
          transition: all 350ms ease; }

.style-chooser {
  padding-right: 1rem;
  width: 40%;
  float: right;
  text-align: right; }

.h3 {
  color: #400101; }

.sort-styles {
  background: #8C0303;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin: 0;
  font-weight: 400;
  font-size: 0.9rem; }

.sort-styles h3 {
  color: #F2F2F2;
  padding-left: 1rem;
  font-size: 1.2rem;
  padding-top: 1rem; }

.sort-styles ul {
  margin-left: 0;
  padding-left: 1rem; }

.sort-styles ul li {
  display: inline;
  padding-right: 10px; }

.sort-styles ul li a:link {
  border: 1px solid #444444;
  padding: 7px;
  border-radius: 3px;
  text-decoration: none;
  color: #400101;
  background: #C3C3C3;
  -webkit-transition: background 350ms ease;
          transition: background 350ms ease; }

.sort-styles ul li a:hover {
  border: 1px solid #444444;
  padding: 7px;
  text-decoration: none;
  color: #9A0F16;
  background: #FFF;
  -webkit-transition: background 350ms ease;
          transition: background 350ms ease; }

.listnotes {
  display: table;
  border-collapse: collapse;
  width: 100%; }

.listheader {
  font-family: 'Julius Sans One', sans-serif;
  display: table-header-group;
  border-bottom: 1px solid #444444; }

.list-head-elem {
  display: table-cell;
  font-family: 'Julius Sans One', sans-serif;
  font-weight: bold;
  color: #111;
  font-size: 1.2rem;
  padding: 0.5rem; }

.tasklistrow {
  display: table-row;
  width: 100%;
  border-bottom: 1px solid #111;
  font-size: 0.9rem; }

.list-elem {
  display: table-cell;
  padding: 0.7rem; }

.task-date {
  width: 20%; }

.task-desc {
  max-width: 35%; }

.task-desc h4 {
  padding: 0;
  margin: 0;
  font-size: 1rem;
  font-weight: 600;
  color: #111; }

.task-desc p {
  overflow: hidden;
  text-overflow: ellipsis; }

.task-importance {
  width: 25%; }

.task-importance img {
  max-width: 25px;
  height: auto; }

.task-edit-btn {
  width: 20%; }

.task-edit-btn a:link, a:visited {
  border: 1px solid #444444;
  padding: 7px;
  border-radius: 3px;
  text-decoration: none;
  color: #400101;
  background: #C3C3C3;
  -webkit-transition: background 350ms ease;
          transition: background 350ms ease; }

.task-edit-btn a:hover {
  border: 1px solid #400101;
  padding: 7px;
  border-radius: 3px;
  text-decoration: none;
  color: #9A0F16;
  background: #FFF;
  -webkit-transition: background 350ms ease;
          transition: background 350ms ease; }

.editwrapper {
  display: none; }

.editcontent {
  position: relative;
  width: 100%;
  -webkit-transition: all 0.5s ease-in;
          transition: all 0.5s ease-in; }

.edittask {
  display: table;
  width: 100%; }

.editheader {
  background: #8C0303;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin: 0;
  font-weight: 400;
  font-size: 0.9rem; }
  .editheader h3 {
    color: #F2F2F2;
    font-family: 'Glegoo', serif;
    padding-left: 1rem;
    font-size: 1.2rem;
    padding-top: 1rem; }

.edittaskrow {
  padding: 1rem;
  display: table-row; }

.edit-important img {
  max-width: 25px;
  height: auto; }

.taskedit-elem {
  display: table-cell;
  padding: 1rem; }

.first-cell {
  width: 15%;
  text-align: right; }

.second-cell {
  width: 50%;
  text-align: left; }

.third-cell {
  width: 35%;
  text-align: right; }

input[type="text"], [type="datetime-local"] {
  width: 90%;
  border: 1px solid #444444; }

input[type="range"] {
  width: 75%;
  border: 0; }

#printvalue {
  width: 5% !important;
  color: #400101;
  text-align: right; }

textarea {
  width: 90%;
  height: auto;
  border: 1px solid #444444; }

.footer {
  font-family: 'Julius Sans One', sans-serif;
  height: 3rem;
  bottom: 0;
  width: 100%;
  border-top: 1px solid #333333;
  padding-top: 1rem;
  background: #111;
  color: #F2F2F2; }

.footer-desc {
  text-align: right;
  float: left;
  padding-left: 1rem;
  color: #444444; }

.footer-copy {
  float: right;
  color: #F2F2F2;
  font-size: 0.8rem;
  padding-right: 1rem; }
